* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-top: 2rem;
}

#turn{

  font-size: 3rem;
  margin-top: 2rem;

}

.dice {
  font-size: 7rem;
  margin: 5px;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}

.score{

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.roll-animation{

  animation: roll 1s; 
}

@keyframes roll {
  
  0%{

    transform: rotateY(0deg) rotateX(0deg);
  }

  100%{

    transform: rotateY(720deg) rotateX(720deg);
  }
}

.game_end_msg{

  color: black;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

button {
  background-color: #47a5c4;
  color: white;
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2e8baf;
}

h2{

  margin: 1rem;
  font-size: 2rem;
}

#roll_history {
  list-style: none;
  padding: 0;
  margin: 2rem auto;
  max-width: 600px;
}

.hide{

  display: none;
}

.show{

  display: block;
}

.li {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span{

  font-size: 3rem;
  margin-right: 1rem;
}

#landing{

  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#are, #you, #ready {
  display: none;
}


#game {
  text-align: center;
}


@media screen and (max-width:768px){

  .score{

    padding: 1rem;
  }

  button{

    margin: 1.8rem;
  }
  
}
